.container{
	background-color: rgba(0, 0, 0, 1.0);
	background-size: cover;
	background-position: center center;
	height: 110%;
	position: fixed;
	top: -5;
	left: 0;
	right: 0;
	z-index: -1;
}
.main{
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	color: rgb(100,255,100);
	font-size: 3vw;
	transition: 1s ease;
	text-decoration: none;
}

.main:hover{
	color: rgb(255,255,255);
	transform: scale(1.5);
}
.Pictures{
	margin-top: 20px;
}

.pic5{
	column-count: 3;
	align-items: center;
	width: 100vw
	height: auto;
}

.text5{
	color: rgb(100,255,100);
	font-family: sans-serif;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.head5{
	display: flex;
	padding: 20px;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-size: clamp(20px,3vw,40px);/*determining the maximum and minimum sizes of the responsive text*/
	font-weight: bolder;
	position: relative;
	text-decoration: none;
	transition: 1s ease;
}



img{
	margin-left: 10px;
	margin-bottom: 10px;
	background: floralwhite;
	box-shadow: 3px 3px 5px whitesmoke;
	width: 30vw;

}

@media screen and (max-width: 640px){
	.pic5{
		column-count: 2;
	}

	img{
		width: 43vw;
	}
}

@media screen and (max-width: 375px){
	.pic5{
		column-count: 1;
	}

	img{
		width: 90vw;
	}
}

