body
{
background-color: rgba(20, 20, 20, 1.0);
}

#container {
	/*border: 10px solid black;*/
	position: relative;
	display: flex;
	height: 90vh;
	flex-direction: column;
	justify-content: center;
	/*justify-content: space-between;*/
	align-items: center;
	transition: 0.5s all ease 0s;
	
}

#container.vanish
{
	animation: ease-in-out;
	opacity: 0;
	transform: scale(0);
	z-index: -2;

}

.illustration
{
	/*border: 5px solid darkred;*/
	display: flex;
	justify-content: center;
	position: relative;
	height: 300px;
	width: 300px;
	overflow: hidden;
	border-radius: 50%;
}

.cap 
{
	width: auto; 
	height: 100%;
	/*margin-left: -120px;*/
}

.image 
{
	/*border: 5px solid darkred;*/
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	height: 200px;
	width: 200px;
	overflow: hidden;
	transition: 0.5s all ease 0s;
	border-radius: 50%;
	top: 30px;
}

.logo
{
	width: 200%; 
	height: auto;
	margin-left: -100px;
	margin-top: -25px;
	transition: 0.5s all ease 0s;
	animation: rotation 4s infinite linear;
}

@keyframes rotation
{
	from 
	{
		transform: rotateY(0deg);
	}

	to {
		transform: rotateY(359deg);
	}
}

.image:hover
{
	transform: scale(1.25) translateY(5px);
	background-color: rgba(255, 255, 255, 1.0);

}

#About{
	border: none;
	background-color: rgba(20,20,20, 1.0);
	position: absolute;
	height: 100px;
	bottom: 85%;
	left: 90%;
	font-family: helvetica;
	transition: 0.5s all ease 0s;
	cursor: pointer;
	color: floralwhite;
}

#About:hover
{
	color: #4166AB;
	left: 85%;
	font-size: x-large;
	font-weight: bolder;
}

#text
{
	border: none;
	background-color: rgba(20, 20, 20, 1.0);
	height: 100px;
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 50px;
	font-family: Helvetica;
	transition: 0.5s all ease 0s;
	cursor: pointer;
	color: white;

}

#text:hover
{
	color: #4166AB;
	font-size: x-large;
	font-weight: bolder;
	background-color: white;
}


#container2
{
	width: 100vw;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	/*bottom: 500px;*/
	opacity: 0;
	filter: blur(5px);
	transition: 0.8s all ease 0s;
}

#container2.vanish
{
	animation: ease-in-out;
	opacity: 0;
	transform: scale(0);
	z-index: -2;

}


#back{
	border: none;
	background-color: rgba(20,20,20, 1.0);
	transition: 0.5s all ease 0s;
	cursor: pointer;
	width: 5vw;
	display: flex;
	justify-content: center;
	position: relative;
}

#back:hover{
	width: 11vw;
}

.ill
{
/*	border:  5px solid green;
*/
	width: 24vw;
	height: 96vh;
	display: flex;
	justify-content: center;
	position: relative;
	align-items: flex-end;
	transition: 0.5s all ease 0s;
	transition: 0.5s all ease 0s;
	filter: blur(3px);
	overflow: hidden;
	background-image: url('madara.jpg');
	background-size: cover;
	background-position: -20px center;
	background-repeat: no-repeat;
	z-index: -1;
}


.txt 
{
	font-family: Helvetica;
	font-size: large;
	text-decoration: none;
	color: black;
	transition: 0.5s all ease 0s;
	height: 20px;
	cursor: pointer;

}

.txt2
{
	font-family: Helvetica;
	font-size: large;
	color: black;
	text-decoration: none;
	transition: 0.5s all ease 0s;
	height: 20px;
	cursor: pointer;
}

.txt3
{
	font-family: Helvetica;
	font-size: large;
	color: white;
	text-decoration: none;
	transition: 0.5s all ease 0s;
	height: 20px;
	cursor: pointer;
}

.txt4
{
	font-family: Helvetica;
	font-size: large;
	color: white;
	text-decoration: none;
	transition: 0.5s all ease 0s;
	height: 20px;
	cursor: pointer;
}


.anim
{
/*	border:  5px solid black;
*/	width: 24vw;
	height: 96vh;
	font-family: Helvetica;
	color: white;
	font-size: large;
	display: flex;
	justify-content: center;
	transition: 0.5s all ease 0s;
	background-image: url('shine.gif');
	background-size: cover;
	background-position: -100px center;
	background-repeat: no-repeat;
	z-index: -1;
	filter: blur(3px);
}


.iw
{
/*	border:  5px solid blue;
*/	width: 24vw;
	height: 96vh;
	font-family: Helvetica;
	font-size: large;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	transition: 0.5s all ease 0s;
	background-image: url('branches.png');
	background-size: cover;
	background-position: -100px center;
	background-repeat: no-repeat;
	z-index: -1;
	filter: blur(3px);
}

/*.games
{
	border:  5px solid red;
	width: 19vw;
	height: 97vh;
	font-family: Helvetica;
	font-size: large;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	transition: 0.5s all ease 0s;
}*/

.pics
{
	width: 24vw;
	height: 96vh;
	font-family: Helvetica;
	color: white;
	font-size: large;
	display: flex;
	justify-content: center;
	transition: 0.5s all ease 0s;
	background-image: url('arbinda1.gif');
	background-size: cover;
	background-position: -280px center;
	background-repeat: no-repeat;
	z-index: -1;
	filter: blur(3px);
}

.txt:hover
{
	font-size: x-large;
	color: #4166AB;
	background-color: rgba(255, 255, 255, 0.7);
	height: 50px;
	width: auto;
}

.txt2:hover
{
	font-size: x-large;
	color: #4166AB;
	background-color: rgba(255, 255, 255, 0.7);
	height: 75px;
	width: auto;
}

.txt3:hover
{
	font-size: x-large;
	color: #4166AB;
	background-color: rgba(255, 255, 255, 0.7);
	height: 75px;
	width: auto;
}


.txt4:hover
{
	font-size: x-large;
	color: #4166AB;
	background-color: rgba(255, 255, 255, 0.7);
	height: 75px;
	width: auto;
}

.ill:hover
{
	filter: blur(0px);
}
.anim:hover
{
	filter: blur(0px);
}

.iw:hover
{
	filter: blur(0px);
}

/*.games:hover
{
	font-size: xx-large;
	color: #4166AB;
	font-weight: bolder;
}*/

.pics:hover
{	
	filter: blur(0px);
}

#container2.open
{
	opacity: 1;
	filter: blur(0px);
	font-size: x-large;
	font-weight: bolder;
}


#container3
{
	width: 100vw;
	top: 10%;
	right: 1%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	/*bottom: 500px;*/
	opacity: 0;
	filter: blur(5px);
	transition: 0.8s all ease 0s;
}


#back2{
	border: none;
	background-color: rgba(20,20,20, 1.0);
	transition: 0.5s all ease 0s;
	cursor: pointer;
	width: 10vw;
	display: flex;
	justify-content: center;
	position: relative;
}

#container3.vanish
{
	animation: ease-in-out;
	opacity: 0;
	transform: scale(0);
	z-index: -2;

}

#back2:hover{
	width: 11vw;
}

#container3.open
{
	opacity: 1;
	filter: blur(0px);
	font-size: x-large;
	font-weight: bolder;
}

p{
	width: 50vw;
	left: 30%;
	top: 70%;
	position: absolute;
	color: rgb(100,255,100);
	font-family: sans-serif;
}

.photo
{
	/*border: 5px solid darkred;*/
	display: flex;
	justify-content: center;
	position: relative;
	height: 300px;
	width: 300px;
	overflow: hidden;
	border-radius: 50%;
}

.self
{

	width: auto; 
	height: 100%;
	/*margin-left: -120px;*/
}